@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto+Mono:400,700|Roboto:400,400i,700');

body {
  font-family: $font-regular;
  background: $color-navbar-bg;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-header;
  font-weight: normal;
}

a {
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
  color: $color-primary;
  text-decoration: none;

  &:hover {
    color: lighten($color-primary, 20%);
  }
}

pre {
  tab-size: 2;
  white-space: pre-wrap
}

code {
  padding: 2px 4px;
}

input[type="checkbox"] {
  appearance: none;
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 1px;
  background: none;
  background-clip: content-box;
  border: 1px solid darken($color-inactive-border, 15%);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;

  &:focus, &:hover {
    border-color: lighten($color-primary, 20%);
  }

  &:checked {
    border-color: $color-primary;
    background-color: $color-primary;

    &:focus, &:hover {
      border-color: $color-primary;
      background-color: lighten($color-primary, 20%);
    }
  }

  &.secondary {
    &:focus, &:hover {
      border-color: lighten($color-secondary, 20%);
    }

    &:checked {
      border-color: $color-secondary;
      background-color: $color-secondary;

      &:focus, &:hover {
        border-color: $color-secondary;
        background-color: lighten($color-secondary, 20%);
      }
    }
  }

  &.tertiary {
    &:focus, &:hover {
      border-color: lighten($color-tertiary, 20%);
    }

    &:checked {
      border-color: $color-tertiary;
      background-color: $color-tertiary;

      &:focus, &:hover {
        border-color: $color-tertiary;
        background-color: lighten($color-tertiary, 20%);
      }
    }
  }

  &.quaternary {
    &:focus, &:hover {
      border-color: lighten($color-quaternary, 20%);
    }

    &:checked {
      border-color: $color-quaternary;
      background-color: $color-quaternary;

      &:focus, &:hover {
        border-color: $color-quaternary;
        background-color: lighten($color-quaternary, 20%);
      }
    }
  }

  &.quinary {
    &:focus, &:hover {
      border-color: lighten($color-quinary, 20%);
    }

    &:checked {
      border-color: $color-quinary;
      background-color: $color-quinary;

      &:focus, &:hover {
        border-color: $color-quinary;
        background-color: lighten($color-quinary, 20%);
      }
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-resize-enter-active, .fade-resize-leave-active {
  transition: opacity 0.3s, transform 0.3s;
  transform-origin: top;
}
.fade-resize-enter, .fade-resize-leave-to {
  opacity: 0;
  transform: scale(0.95);
}

.fade-slide-enter-active, .fade-slide-leave-active {
  transition: opacity 0.15s, transform 0.15s;
}
.fade-slide-enter, .fade-slide-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.fade-slide-vertical-enter-active, .fade-slide-vertical-leave-active {
  transition: opacity 0.3s, bottom 0.3s, top 0.3s;
}
.fade-slide-vertical-enter, .fade-slide-vertical-leave-to {
  opacity: 0;
  bottom: -1px;
}

.animated-list-item {
  transition: all 0.3s;
}
.animated-list-enter, .animated-list-leave-to {
  opacity: 0;
  transform: scale(0.4);
}
.animated-list-leave-active {
  position: absolute;

  .small-badge {
    display: none;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
