// Fonts
$font-regular: Roboto, 'Source Sans Pro', Calibri, Arial, sans-serif;
$font-monospace: 'Roboto Mono', 'Source Code Pro', Consolas, monospace;
$font-header: 'Roboto Condensed', 'Source Sans Pro', Calibri, Arial, sans-serif;

// Colours
$color-primary: #2196F3;
$color-warn: lighten(red, 20%);
$color-info: lighten($color-primary, 8%);
$color-secondary: #00AFA0;
$color-tertiary: #EE6A2D;
$color-quaternary: #805800;
$color-quinary: #94508C;
$color-navbar-bg: #222;
$color-footer-text: #888;
$color-content-bg: #fefefe;
$color-content-bg-dark: #111;
$color-content-text: #111;
$color-content-text-dark: #ccc;
$color-scrolled-bg: lighten(#F3F321, 10%);
$color-inactive-border: darken($color-content-bg, 6%);
$color-inactive-border-dark: lighten($color-content-bg-dark, 6%);
